# Hugo default output directory
/public

# data dir for sqlite db
/data
/log
/forever

# intercom credentials
intercom.json

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

node_modules
build
