  <!-- FOOTER -->
  <footer>
   <div class="footer-content-container">
     <div class="row">
      <div class="col-xs-7 col-sm-9 col-md-9">
        <div class="row">
          <div class="col-xs-12 col-sm-3 col-md-3">
            <ul>
               <li class="title">worldPing</li>
               <li><a href="/worldping/">what is worldPing?</a></li>
               <li><a href="/worldping/use-cases">use cases</a></li>
               <li><a href="/worldping/road-map">road map</a></li>
               <li><a href="/worldping/faq">faq</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <ul>
              <li class="title"><a href="http://blog.raintank.io">blog</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-5 col-sm-3 col-md-3">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <ul class="text-right">
              <li><span class="title">e:</span> <a href="mailto:hello@raintank.io" class="contact">hello@raintank.io</a></li>
              <li><span class="title">p:</span> 212.812.4179</li>
            </ul>
            <ul class="text-right text-muted">
              <li>29 broadway</li>
              <li>penthouse</li>
              <li>new york, ny 10006</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <p>&copy; 2016 raintank inc.</p>
      </div>
      <div class="col-lg-6" style="text-align:right;">
        <a href="http://raintank.io"><i class="icon-rt-raintank_wordmark" style="font-size:36px; vertical-align:middle; position:relative; top: -20px;"></i></a>
      </div>
    </div>
   </div>
  </footer>

  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/js/holder.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
