<!-- NAVBAR
================================================== -->

<body role="document">
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TJGF9R"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TJGF9R');</script>
<!-- End Google Tag Manager -->
	<div class="navbar-wrapper">
		<nav class="navbar navbar-inverse"> <!-- removed navbar-fixed-top so it was not persistent -->
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/"><!-- <i class="main-logo icon-rt-raintank_wordmark"></i> --><img class="navbar-logo" src="/img/worldping_icon_lockup.svg"></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse navbar-right">
					<ul class="nav navbar-nav">
			          {{ $currentNode := . }}
			          {{ range .Site.Menus.main }}

			          {{ if .HasChildren }}
			            <li class="dropdown{{if $currentNode.HasMenuCurrent "main" . }} active{{end}}">
				            <a href="{{.URL}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ .Name }}<span class="caret"></span></a>
				            <ul class="dropdown-menu dropdown-menu-left" role="menu">
				                {{ range .Children }}
				                <li>
				                	<a href="{{.URL}}"> {{ .Name }}</a>
				                </li>
				                {{ end }}
				            </ul>
			            </li>
			          {{else}}
			            <li class="{{if $currentNode.HasMenuCurrent "main" . }} active{{end}}">
			            	<a href="{{.URL}}">{{ .Name }}</a>
			            </li>	
			          {{end}}
			          {{end}}
					    <li><div class="nav-btn"><a href="https://grafana.net/plugins/raintank-worldping-app?utm_source=worldping_rt" data-gacategory="Button" data-gaaction="Signup" data-galabel="Navbar" class="signUpCTA" >Sign Up</a></div></li>
			        </ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>
	</div>


	<!--{{ partial "signup-modal.html" . }}
	{{ partial "signup-hero-modal.html" . }}-->
