<!-- Modal -->
<div id="signUp-hero" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="text-primary">get early access</h4>
        <p class="text-muted">Signing up now guarantees you'll always be part of our <strong>free tier</strong>. <br/>Forever. Forever ever.</p>
      </div>
      <div class="modal-body">
        <form data-parsley-validate action="/earlyaccess" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="inline-form newsletter-form">
          <fieldset>
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_332a8b5085fde6390a4408bb1_1d7e889d23" tabindex="-1" value=""></div>
            
            <div class="row" style="margin-bottom:30px;">
              <div class="col-md-7" style="margin-top:20px;">
                <input type="email" placeholder="E-mail address" name="EMAIL" id="mce-EMAIL" class="callout-cta" style="height:37px; width:300px; display:block; margin-bottom:10px;" required >
                <input type="hidden" name="SOURCE" value="new-hero-sign-up-btn"> <!-- value tells us which form was filled out -->
                <input type="hidden" id="gclid_field" name="gclid_field" value="">  <!-- adwords click UD collection for conversion import -->
                <input type="checkbox" name="NEWSLETTER" checked style="margin: 0; padding: 0; width: auto; vertical-align: -webkit-baseline-middle;"> <span class="small text-muted">I want to know about new features and releases.</span>
                <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn primaryAltCTA">Get Early Access</button>
              </div>

              <div class="col-md-5 small" style="border-left:1px solid #e5e5e5; padding:10px 20px 10px 10px;">
                <p><img class="testimonial-img pull-right" src="/img/asr.jpg" /><em>
                "Using a combination of Raintaink's hosted collectors, and Litmus collector software deployed at dozens of client sites, we are provided with an impressive level of insight into the performance of our network from around the globe."</em></p>
                <p><strong>Adam Rothschild</strong><br/>
                Co-Founder &amp; Senior Vice President of Infrastructure, Packet Host, Inc.</p>
                <A href="http://packet.net" target="_blank"><img class="testimonial-company" src="/img/packet.png" /></A>
              </div>
            </div>  
          </fieldset>
        </form>
      </div>
    </div>

  </div>
</div>