<!-- Modal -->
<div id="signUp" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="text-primary">sign up for our beta</h4>
      </div>
      <div class="modal-body">
        <form data-parsley-validate action="/earlyaccess" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="inline-form newsletter-form">
          <fieldset>
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_332a8b5085fde6390a4408bb1_1d7e889d23" tabindex="-1" value=""></div>
            <input type="email" placeholder="E-mail address" name="EMAIL" id="mce-EMAIL" class="callout-cta" style="height:37px; width:300px;  vertical-align:super;" required >
            <input type="hidden" name="SOURCE" value="main-sign-up-btn"> <!-- value tells us which form was filled out -->
              <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn primaryCTA">Sign Me Up</button>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn primaryCTA" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



