{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<!-- Hero
================================================== -->
<section class="hero home-hero">
	<div class="hero-content-container inner">
		<div class="hero-caption">
			<h4 style="line-height:0;"><strong>announcing</strong></h4>
			<h3 style="margin-bottom:10px;" class=""><img class="img-responsive" style="display:inline-block" src="/img/litmus-white.svg" width="300"/></h3>
		</div>
	</div>
</section>

<!-- Main page content
================================================== -->
<!-- Wrap the rest of the page in another container then offset the content. -->

<div class="main-content-container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="alpha-heading text-primary" style="margin-top:40px; margin-bottom:0;">monitor your global performance and uptime.</h3>
      <p class="lead">Give us a domain name and start getting data in 60 seconds. For free.</p>
     <hr class="section-divider slim" />
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <h4 class="alpha-heading">intelligent alerting</h4>
      <p>Sit back and relax, we’ll let you know when you experience a problem, and won’t annoy you with false positives.</p>
      <img class="featurette-image img-responsive center-block" src="/img/alerting_badge.png" alt="alerting">
    </div>
    <div class="col-md-4">
      <h4 class="alpha-heading">rich graphing</h4>
      <p>Leverage <a href="/grafana">Grafana’s</a> leading visualization capabilities to create the perfect view that brings it all together.</p>
      <img class="featurette-image img-responsive center-block" src="/img/graphing_badge.png" alt="rich graphing">
    </div>
    <div class="col-md-4">
      <h4 class="alpha-heading">global monitoring</h4>
      <p>Monitor performance from all over the planet, across different networks and carriers.</p>
      <img class="featurette-image img-responsive center-block" src="/img/footprint_badge.png" alt="global footprint">
    </div>
  </div>
  <div class="row text-center">
      <div class="col-md-12" style="border-radius:4px; border:2px solid #13b2d4; background-color:#fff;) center no-repeat; padding:20px; margin-top:40px; margin-bottom:60px; padding-bottom:30px;">
        <h2 class="alpha-heading text-primary" style="">global monitoring that’s easy, powerful and free.</h2><p style="margin-bottom:20px;">jump to the front of the line to try Litmus network performance monitoring.</p>    
          <form data-parsley-validate action="http://raintank.us9.list-manage.com/subscribe/post?u=332a8b5085fde6390a4408bb1&amp;id=e6455ee744" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="inline-form newsletter-form">           
            <fieldset>
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_332a8b5085fde6390a4408bb1_1d7e889d23" tabindex="-1" value=""></div>
              <input type="email" placeholder="e-mail address" name="EMAIL" id="mce-EMAIL" class="callout-cta" required >
              <input type="hidden" name="SOURCE" value="new-home-callout-module"> <!-- value tells us which form was filled out -->
                <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn primaryAltCTA">Get Early Access</button>
            </fieldset>
          </form>
          <p style="margin-top: 20px;">not quite ready to sign up? <a class="btn primaryCTA" style="margin-left:10px;" href="/litmus/" role="button">Learn more about litmus &raquo;</a></p>
    </div> <!-- /col-md-12 -->

    <div class="col-md-12 text-left" style="margin-bottom: 70px;">
      <i class="icon-rt-raintank_icn pull-left"  style="font-size:60px; color:#13b2d4;"></i>
      <h2 class="alpha-heading" style="margin-left:80px; margin-top:0;">litmus is just the first chapter of the story. <br/>the future is beautiful, powerful and 100% open source.</h2>
      <hr class="section-divider" />
    </div> <!-- /col-md-12 -->
  </div>
</div>

<!-- screenshot -->
<div class="calloutBlock mediaBlock stormy" style="">
    <div class="screenshot-content-container">
      <div class="screenshot peek"> <!-- .peek makes the image peek out of the containting box -->
         <div class="item">

             <div class="row">
             <div class="col-md-9">
                 <img src="/img/theme_screens.png" width="100%" alt="litmus dashboard">
               </div>
                <div class="callout col-md-3">
                <h4 class="text-highlight">a picture that’s right for you</h4>
                  <p>raintank is behind and built on top of <a href="/grafana/">Grafana</a>, the world's leading open source visualization software for measurement data. Bring in your other data sources and use its leading capabilities to create that perfect view.</p><p><strong><a href="/grafana">more about grafana &raquo;</a></strong></p>
                  
               </div>
            </div>

         </div>
      </div>
    </div>
 </div>

<!-- screenshot -->
<div class="calloutBlock cloudy">
    <div class="gen-content-container">

       <div class="row">  
         <div class="col-md-4">
           <h3><img class="featurette-image img-responsive center-block" src="/img/rt-github.svg" width="100" alt="open source"></h3>
            
           <h4 class="feature-title">open source openSaaS</h4> 
           <p>raintank is OpenSaaS: It’s 100% open source, and also available as a fully supported SaaS or on-oremise offering from raintank. Take back control of your data destiny, and avoid lock-in. You always own the raw data.</p>
        </div>

        <div class="col-md-4">
          <h3><img class="featurette-image img-responsive center-block" src="/img/data_together.svg" width="100" alt="open source"></h3>
            
           <h4 class="feature-title">bring all your data together</h4> 
           <p>Data in the cloud. Data in your datacenter. About your applications. Your servers. Your network. In different databases. raintank breaks down these silos and help you gain context and understanding.</p>
        </div>

        <div class="col-md-4">
            <h3><img class="featurette-image img-responsive center-block" src="/img/rt-users.svg" width="100" alt="collaborate"></h3>

            <h4 class="feature-title">collaborate with anyone</h4> 
            <p>raintank makes it easy to share your data with your team, partners, or the web. Take a <a href="http://snapshot.raintank.io/info/" target="_blank">snapshot</a> for sharing it with anyone, giving them access to just the data that you want.</p>
        </div>

      </div>

    </div>
 </div>


<!-- screenshot -->
<div class="calloutBlock mediaBlock stormy">
    <div class="screenshot-content-container">
      <div class="screenshot">
         <div class="item">

             <div class="row">
             <div class="col-md-9">
                 <img src="/img/dashboards_screenshot.png" width="100%" alt="litmus dashboard">
               </div>
                <div class="callout col-md-3">
                <h4 class="text-highlight">understand your global performance</h4>
                  <p>Litmus, our first integration allows you to monitor the data quality of any web app from  all over the world, even inside your own datacenter. Keep your users happy by finding and fixing problems fast.</p>
                  <p><strong><a href="/litmus/">more about litmus &raquo;</a></strong></p>
                  
               </div>
            </div>

         </div>
      </div>
    </div>
 </div>


<div class="calloutBlock bold">
	<div class="content-row">
	  <h3>sound good? sign up for our free beta.</h3>    
	    <form data-parsley-validate action="http://raintank.us9.list-manage.com/subscribe/post?u=332a8b5085fde6390a4408bb1&amp;id=e6455ee744" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="inline-form newsletter-form">           
	      <fieldset>
	        <div style="position: absolute; left: -5000px;"><input type="text" name="b_332a8b5085fde6390a4408bb1_1d7e889d23" tabindex="-1" value=""></div>
	        <input type="email" placeholder="e-mail address" name="EMAIL" id="mce-EMAIL" class="callout-cta" required >
	        <input type="hidden" name="SOURCE" value="website-homepage-bottom"> <!-- value tells us which form was filled out -->
	        <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn lightCTA">Sign Me Up</button>
	      </fieldset>
	    </form>
	</div>
</div>

{{ partial "footer.html" . }}
